
version: '3.8'

services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
    volumes:
      - ./database.json:/app/database.json
      - ./uploads:/app/uploads
      - ./wauth:/app/wauth
    restart: always
